<div class="container clear-navbar">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center cart-icons">
      <a routerLink="/shoppingcart">
        <i class="material-icons cart-icon">shopping_cart</i>
      </a>
      <span class="line"></span>
      <a routerLink="/checkout">
        <i class="material-icons cart-icon active-icon">home</i>
      </a>
      <span class="line-dotted"></span>
      <i class="material-icons cart-icon">credit_card</i>
      <span class="line-dotted"></span>
      <i class="material-icons cart-icon">done</i>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center cart-icons">
      <h4>Contact Information</h4>
    </div>
  </div>
</div>