<div class="container clear-navbar">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="admin-component-header text-center">Admin</h2>
      <h4>Products: {{productAmount}}</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <button type="button" class="add-product-button btn btn-link" data-toggle="collapse" data-target="#collapseAddProduct" (click)="changeAddProductStatus()">
            Add Product
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="collapse" id="collapseAddProduct">
        <div class="card">
          <div class="card-block">
            <button type="button" class="add-product-close-button-top btn btn-link" data-toggle="collapse" data-target="#collapseAddProduct" (click)="changeAddProductStatus()" *ngIf="showAddProduct">Close</button>
            <app-add-product></app-add-product>
            <button type="button" class="add-product-close-button btn btn-link" data-toggle="collapse" data-target="#collapseAddProduct" (click)="changeAddProductStatus()" *ngIf="showAddProduct">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row justify-content-center" *ngFor="let p of products">
      <div class="col-md-8">
        <div class="media">
          <div class="rounded">
            <img class="d-flex mr-3 img-fluid" src="{{ p.image }}" />
          </div>
          
          <div class="media-body">
            <h5 class="mt-0">{{ p.title }}</h5>

            <button type="button" class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseProduct' + p.id" aria-expanded="false" aria-controls="collapseProduct" (click)="expandProduct(p)">Edit</button>
            <button type="button" class="btn btn-link" (click)="deleteProduct(p)">Delete</button>

          </div>
        </div>
        <div class="collapse" attr.id="collapseProduct{{p.id}}">
          <div class="card">
            <div class="card-block">
               <button type="button" class="add-product-close-button-top btn btn-link" data-toggle="collapse"
              [attr.data-target]="'#collapseProduct' + p.id" (click)="changeAddProductStatus()">Close</button>
              <h4>Edit Product</h4>
              <form [formGroup]="form" (ngSubmit)="editProduct(form.value)">

                <div class="form-group">
                  <label for="tmpProductTitle">Title</label>
                  <input type="text" class="form-control" id="tmpProductTitle" formControlName="title" value="{{p.title}}">
                </div>
                <div class="form-group">
                  <label for="tmpProductIngredients">Ingredients</label>
                  <input type="text" class="form-control" id="tmpProductIngredients" formControlName="ingredients" value="{{p.ingredients}}">
                </div>
                <div class="form-group">
                  <label for="tmpProductDescription">Description</label>
                  <input type="text" class="form-control" id="tmpProductDescription" formControlName="description" value="{{p.description}}">
                </div>
                <div class="form-group">
                  <label for="tmpProductWeight">Weight</label>
                  <input type="number" class="form-control" id="tmpProductWeight" formControlName="weight" value="{{p.weight}}">
                </div>
                <div class="form-group">
                  <label for="tmpProductPrice">Price</label>
                  <input type="number" class="form-control" id="tmpProductPrice" formControlName="price" value="{{p.price}}">
                </div>
                <div class="form-group">
                  <label for="tmpProductStock">Stock</label>
                  <input type="number" class="form-control" id="tmpProductStock" formControlName="stock" value="{{p.stock}}">
                </div>
                <div class="form-group">
                  <label for="tmpProductImage">Image</label>
                  <input type="text" class="form-control" id="tmpProductImage" formControlName="image" value="{{p.image}}">
                </div>
                <button type="submit" class="btn btn-link">Save Changes</button>
                <br />
                <button type="button" class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseProduct' + p.id" aria-expanded="false" aria-controls="collapseProduct" (click)="resetTmpProduct()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>