
          <h4>Add Product</h4>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <div class="form-group">
              <label for="productTitle">Title</label>
              <input class="form-control" type="text" id="productTitle" formControlName="title" />
            </div>

            <div class="form-group">
              <label for="productDescription">Description</label>
              <input class="form-control" id="productDescription" type="text" formControlName="description" />
            </div>

            <div class="form-group">
              <label for="productIngredients">Ingredients</label>
              <input class="form-control" type="text" id="productIngredients" formControlName="ingredients" />
            </div>
            <div class="form-group">
              <label for="productCategories">Categories</label>
              <input class="form-control" type="text" id="productCategories" formControlName="categories" />
            </div>

            <div class="form-group">
              <label for="productWeight">Weight</label>
              <input class="form-control" type="text" id="productWeight" formControlName="weight" />
            </div>

            <div class="form-group">
              <label for="productPrice">Price</label>
              <input class="form-control" type="text" id="productPrice" formControlName="price" />
            </div>

            <div class="form-group">
              <label for="productStock">Stock</label>
              <input class="form-control" type="text" id="productStock" formControlName="stock" pattern="^[0-9]*$" title="Test"/>
            </div>

            <div class="form-group">
              <label for="productImage">Image</label>
              <input class="form-control" type="text" id="productImage" formControlName="image"  />
            </div>

            <button type="submit" class="btn btn-link">Add Product</button>
          </form>

