<div class="container clear-navbar">

  <!-- Show stepper -->
  <div class="row justify-content-center">
    <div class="col-md-8 text-center cart-icons">
      <a routerLink="/shoppingcart">
        <i class="material-icons cart-icon">shopping_cart</i>
      </a>
      <span class="line"></span>
      <a routerLink="/contactinfo">
        <i class="material-icons cart-icon">home</i>
      </a>
      <span class="line"></span>
      <a routerLink="/payment">
        <i class="material-icons cart-icon">credit_card</i>
      </a>
      <span class="line"></span>
      <a routerLink="/confirmation">
        <i class="material-icons cart-icon active-icon">done</i>
      </a>
    </div>
  </div>

  <!-- Products -->
  <div *ngIf="cart.items.length > 0" class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="text-center">Confirmation</h3>
      <h4 class="headline-confirmation">Products</h4>
      <!-- Table head -->
      <table class="table table-sm">
        <thead class="thead-default">
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
          </tr>
        </thead>
        <!-- Tably body, products from shopping cart -->
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>{{ item.product.title }}</td>
            <td>{{ roundPrice(item.product.price)}} &euro;</td>
            <td>{{ item.amount }}</td>
            <td>{{ roundPrice(item.product.price * item.amount) }} &euro;</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>{{ cart.total }}</td>
            <td>{{ getTotalPrice() }} &euro;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <h4 class="headline-confirmation">Billing Information</h4>
      <address>
        <i class="material-icons confirmation-icon">person</i> {{ customer.firstName }} {{ customer.lastName }} <br />
        <i class="material-icons confirmation-icon">home</i> {{ customer.address.street }} <br />
        <span class="iconless">{{ customer.address.city }}, {{ customer.address.postal }}</span> <br />
        <span class="iconless">{{ customer.address.country }}</span>
        </address>
    </div>
    <div class="col-md-4">
      <h4 class="headline-confirmation">Shipping Information</h4>
      <address>
        <i class="material-icons confirmation-icon">person</i> {{ customer.firstName }} {{ customer.lastName }} <br />
        <i class="material-icons confirmation-icon">home</i> {{ customer.address.street }} <br />
        <span class="iconless">{{ customer.address.city }}, {{ customer.address.postal }}</span> <br />
        <span class="iconless">{{ customer.address.country }}</span>
      </address>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <h4 class="headline-confirmation">Payment Method</h4>
      <i class="material-icons confirmation-icon">description</i> Billing
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div *ngIf="outOfStock" class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
    </div>
  </div>

  <!-- Bottom nav -->
  <div class="row justify-content-center bottom-navigation">
    <div class="col-6 col-md-4">
      <button routerLink="/payment" type="button" class="btn btn-secondary">Previous</button>
    </div>
    <div class="col-6 col-md-4 text-right">
      <button (click)="order()" type="button" class="btn btn-primary">Order</button>
    </div>
  </div>

</div>