<!-- Stepper -->
<div class="container clear-navbar">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center cart-icons">
      <a routerLink="/shoppingcart">
        <i class="material-icons cart-icon">shopping_cart</i>
      </a>
      <span class="line"></span>
      <a routerLink="/contactinfo">
        <i class="material-icons cart-icon active-icon">home</i>
      </a>
      <span class="line-dotted"></span>
      <i class="material-icons cart-icon">credit_card</i>
      <span class="line-dotted"></span>
      <i class="material-icons cart-icon">done</i>
    </div>
  </div>
</div>

<!-- Heading -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h3>Contact Information</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">

    <!-- Login -->
    <div *ngIf="!loggedIn" class="col-md-4">
      <div class="rounded-border">
        <h4 class="headline-order-form">Login to Order</h4>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
      <div class="create-account">
        <div class="alert alert-info" role="alert">
          <i class="material-icons info-icon">info_outline</i> Shopping is easier with an account!
          <ul>
            <li>Autofill ordering forms</li>
            <li>Get updates on stock situation</li>
            <li>Review products</li>
          </ul>
          <button routerLink="/register" type="button" class="btn btn-info btn-block">Create Account</button>
        </div>
      </div>
    </div>

    <div *ngIf="!loggedIn" class="col-md-1 text-center">
      <div class="order-options-divider">OR</div>
    </div>

    <div [class.col-md-4]="!loggedIn" [class.col-md-6]="loggedIn">
      <div class="rounded-border">
        <h4 *ngIf="!loggedIn" class="headline-order-form">Order without Account</h4>
        <h4 *ngIf="loggedIn" class="headline-order-form">Fillout Order Information</h4>

        <div class="alert alert-info" role="alert">
          <i class="material-icons info-icon">info_outline</i> Fields with asterisk (*) are required.
        </div>

        <form>
          <div class="form-group" [class.has-danger]="firstNameError">
            <label>First name*</label>
            <input name="firstName" [(ngModel)]="firstName" type="text" value="moi" class="form-control form-control-danger">
            <div *ngIf="firstNameError" class="form-control-feedback">Field is required.</div>
          </div>
          <div class="form-group" [class.has-danger]="lastNameError">
            <label>Last name*</label>
            <input name="lastName" [(ngModel)]="lastName" type="text" class="form-control form-control-danger">
            <div *ngIf="lastNameError" class="form-control-feedback">Field is required.</div>
          </div>
          <div class="form-group" [class.has-danger]="streetError">
            <label>Street address*</label>
            <input name="street" [(ngModel)]="street" type="text" class="form-control form-control-danger">
            <div *ngIf="streetError" class="form-control-feedback">Field is required.</div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group" [class.has-danger]="postalError">
                <label>Post code*</label>
                <input name="postal" [(ngModel)]="postal" type="text" class="form-control form-control-danger">
                <div *ngIf="postalError" class="form-control-feedback">Field is required.</div>
              </div>
            </div>
            <div class="col-8">
              <div class="form-group" [class.has-danger]="cityError">
                <label>City*</label>
                <input name="city" [(ngModel)]="city" type="text" class="form-control form-control-danger">
                <div *ngIf="cityError" class="form-control-feedback">Field is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="countryError">
            <label>Country*</label>
            <select name="country" [(ngModel)]="country" class="form-control form-control-danger">
              <option value="Madagascar">Madagascar</option>
            </select>
            <div *ngIf="countryError" class="form-control-feedback">Select a country.</div>
          </div>
          <div class="form-group" [class.has-danger]="emailError">
            <label>Email*</label>
            <input name="email" [(ngModel)]="email" type="email" class="form-control form-control-danger">
            <div *ngIf="emailError" class="form-control-feedback">Invalid email.</div>
            <small class="text-muted">Order information is sent to this email.</small>
          </div>
          <div *ngIf="cannotContinue" class="alert alert-danger" role="alert">
            <i class="material-icons info-icon">error_outline</i> Please fill out required fields.
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Navigation -->

  <div class="row justify-content-center bottom-navigation">
    <div class="col-6" [class.col-md-4]="!loggedIn" [class.col-md-3]="loggedIn">
      <button routerLink="/shoppingcart" type="button" class="btn btn-secondary">Previous</button>
    </div>
    <div *ngIf="!loggedIn" class="hidden-md-down col-1"></div>
    <div class="col-6 text-right" [class.col-md-4]="!loggedIn" [class.col-md-3]="loggedIn">
      <button (click)="continue()" type="button" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>