/* Shopping cart icon styles */

.cart-icon {
  color: rgba(0, 0, 0, 0.5);
}

.cart-icons {
  margin-bottom: 40px;
  a:hover, a:focus {
    text-decoration: none;
  }
  .material-icons {
    font-size: 32px;
  }
}

.active-icon {
  color: #292b2c;
}

.bottom-navigation {
  margin-top: 20px;
}

h3 {
  margin-bottom: 40px;
}

/* Styles for contact information */
.rounded-border {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}

.create-account {
  margin-top: 20px;
  padding: 10px;
}

.order-options-divider {
  margin: 15px auto;
}

.info-icon {
  height: 30px;
  vertical-align: middle;
}

h5 {
  margin: 5px auto 20px auto;
}