@import url('https://fonts.googleapis.com/css?family=Federo');

/* Bootstrap imported from node/modules for customization */

// Core variables and mixins
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
$font-family-sans-serif: "Open Sans",
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;

$red: #7f1606;
$custom-navbar-color: #fff;

$navbar-light-color: rgba($custom-navbar-color, .7);
$navbar-light-hover-color: rgba($custom-navbar-color, .8);
$navbar-light-active-color: rgba($custom-navbar-color, .9);
$navbar-light-disabled-color: rgba($custom-navbar-color, .3);
$navbar-light-toggler-border: rgba($custom-navbar-color, .2);

$navbar-light-toggler-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$custom-navbar-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23");


// Reset and dependencies
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/print";
// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// Components
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/responsive-embed";
@import "~bootstrap/scss/close";
// Components w/ JavaScript
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
// Utility classes
@import "~bootstrap/scss/utilities";

.navbar {
  background-color: $red !important;
}

.navbar-toggler, .navbar-toggler-icon {
  color: blue !important;
}

#center-loader {
  text-align: center;
  width: 150px;
  margin: 50px auto 0 auto;
}

#header-image {
  padding-top: 32vh;
  height: 70vh;
  background: url("https://dl.dropboxusercontent.com/s/0u0v2cc7mw6dytc/chocolate-assortment.jpg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.55);
  h2 {
    padding: 10px;
    font-family: 'Federo', $font-family-sans-serif;
  }
  p {
    padding: 5px;
  }
}

.opaque-background {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.navbar-brand {
  font-family: 'Federo', $font-family-sans-serif;
  color: rgba($custom-navbar-color, .9) !important;
}

.navbar {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.55);
}

.navbar-toggler:hover {
  cursor: pointer;
}

.clear-navbar {
  padding-top: 100px;
}

footer {
  height: 50px;
}

h4 {
  padding-bottom: 20px;
}


/* Display additional text on products nav pills on larger displays */

.additional-text {
  display: none;
}

@include media-breakpoint-up(sm) {
  .additional-text {
    display: inline-block;
  }
}


/* Fixes for bug in sticky navigation menu when display is small */

@include media-breakpoint-down(md) {
  #nav-container {
    margin-left: 0px;
  }
  .navbar-brand {
    width: 200px;
  }
  .search-options-div {
    text-align: center;
  }
}